BOT_NAME: DictBot
BOT_ALIAS: Dev
# Azure
DB_USER: changeme
DB_PASSWORD: changeme
DB_HOST: changeme.database.windows.net
DB_DATABASE: changeme
# Facebook
VERIFY_TOKEN: changeme
PAGE_ID: changeme
PAGE_ACCESS_TOKEN: changeme
